@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ForumSystem.Models
@model PostViewModel

<html>
<head>
    <title>ForumSystem-Forum</title>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div>
            <h3>
                <a asp-controller="Home" asp-action="Index">Home</a>
                |<a asp-controller="Forum" asp-action="Index">Forum</a>
            </h3>
        </div>
    </header>

    <div class="body-content">
        <h2>Create New Post</h2>

        <form asp-controller="Forum" asp-action="Create">
            <label asp-for="@Model.Post.Title">Title:</label><br>
            <input type="text" asp-for="@Model.Post.Title"><br>
            <label asp-for="@Model.Post.Content">Content:</label><br>
            <input type="text" asp-for="@Model.Post.Content"><br>
            <label asp-for="@Model.Post.IsPublic">Public:</label><br> 
            <input type="checkbox" asp-for="@Model.Post.IsPublic"><br>
            
            <input type="submit" value="Post">
        </form>


    </div>
        
</body>
</html>