@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ForumSystem.Models
@model HomeVeiwModel

<html>
<head>
    <title>ForumSystem-Forum</title>
    <link href="~/css/style.css" rel="stylesheet"/>
</head>
<body>
        <div>
            <h3>
                <a asp-controller="Home" asp-action="Index">Home</a>
                |<a asp-controller="Forum" asp-action="Index">Forum</a>
            </h3>
        </div>
        <p>
            <a asp-controller="Forum" asp-action="Create"> Create New Post</a>
        </p>

     <table>
            <tr>
                <th>PostID</th>
                <th>Title</th>
                <th>Post-Date</th>
                <th>Active</th>
                <th>Open</th>
            </tr>
            @{
                foreach(var post in Model.Posts)
                {
                    <tr>
                        <td>@post.PostID</td>
                        <td>@post.Title</td>
                        <td>@post.PostDate</td>
                        <td>@post.IsActive</td>
                        <td><a href="@($"/Forum/Details/{post.PostID}")">Open</a></td>
                    </tr>
                }
            }
     </table>


</body>
</html>